bin/
lib/

include/mqf/trading/strategies/cw1.h
include/mqf/trading/indicators/cw1.h

examples/*/*.csv
examples/*/*.txt


# Visual Studio stuff
*.suo
*.sdf
*.opensdf
*.psess
*.vsp
build/*/mqf/x64
build/*/mqf/Win32
build/*/examples/*/x64
build/*/examples/*/Win32

